<div class="weather-search">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <form class="form-inline" role="form">
                        <span class="btn-group">
                            <button ng-repeat="item in citiesArray" ng-click="setLocation(item)" type="submit"
                                    class="btn btn-default">{{item}}</button>
                        </span>

                </form>
            </div>
        </div>
    </div>
</div>